// Here you can add other styles
.app-header.navbar .navbar-brand{
  background-image: none;
  font-size:18px;
  text-transform: uppercase;
  font-weight:600;
  img{
    max-width:70px;
  }
}
.table.beige{
  background-color:beige;
}
